<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <title>Job Updates</title>
        <style>
            #banner{
                height: 300px;
                width: 100%;
                margin: 0 auto 0 auto;
                object-fit: cover;
            }
        </style>
        
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-2 mb-4">{{company_name}} CAREERS (Under Development) </h1>
            <img id = 'banner' class="img-fluid" src='/static/banner3.jpg'>
            <h2 class="text-center mt-2 mb-4">About MOBASA</h2>
            <p class="lead">Mombasa Tech Solutions Ltd is a dynamic and innovative technology company based in Mombasa, Kenya. Founded in [insert year], the company has quickly gained a reputation for providing cutting-edge technological solutions to businesses and organizations in the region. With a strong commitment to excellence and a customer-centric approach, Mombasa Tech Solutions has become a trusted partner for clients seeking to leverage technology for their growth and success.                
                Mombasa Tech Solutions is not only known for its technical expertise but also for its emphasis on fostering long-term relationships with clients, ensuring their continued success in an increasingly digital world. As a forward-thinking tech company, Mombasa Tech Solutions is poised to play a pivotal role in driving technological advancements in the region.</p>

                <h2 class="text-center mt-2 mb-4">Open Positions</h2>
                <p>
                    <div>
                        {%for job in jobs%}
                        {%include 'jobitems.html'%}
                        {%endfor%}

                    </div>
                </p>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg">Contact Us</button>
                    <p class="mt-2 mb-4">Copyright 2023</p>
                </div>
                
        </div>
    </body>
</html>