<div class="mb-4 border-bottom row" style="padding-bottom: 8px;">
    <div class="col-10">
        <h4 style="color:darkgoldenrod; margin-bottom: 4px;">{{job['title']}}</h4>
        <div><b>Location: </b>
            {{job['Location']|safe}}
        </div>
        <div><b>Qualification: </b>
            {{job['qualification']|safe}}
        </div>
        <div><b>Experience: </b>
            {{job['Experience']|safe}}
        </div>
        <div><b>Batch: </b>
            {{job['Batch']|safe}}
        </div>
        {% if 'package' in job%}
        <div><b>Package: </b>
            {{job['package']|safe}}
        </div>
        {%endif%}
        {% if 'Last date to apply' not in job%}
        <div><b>Last date to apply: </b>ASAP
            
        </div>
        {%endif%}
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center padding-right:16px">
        <a href="mailto:maniyarmohinuddin@gmail.com?subject=Application%20for%20{{job['title']}}%20at%20{{company_name}}" type="button" class="btn btn-outline-primary">Apply</a>
    </div>

</div>